@model List<Hotel>

@{
    ViewData["Title"] = "AllHotels";
}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/carousel-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Hotels</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Hotels</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title text-center text-primary text-uppercase">
        Our Hotels
    </h6>
    <h1 class="mb-5">
        Explore Our <span class="text-primary text-uppercase">Hotels</span>
    </h1>
</div>
<!-- hotels Section Begin -->
<section class="rooms-section mt-5 spad">
    <div class="container">
        @foreach (var hotel in Model) 
        {
            <div class="card rounded border-0 m-4 shadow mb-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative row g-0">
                    <div class="fs-5 position-absolute p-2 rounded-1 bg-primary text-white top-0 text-end end-0" style="max-width: fit-content;">@hotel.StarRating <samall class="fa fa-star fs-6"></samall></div>
                    <div class="col-md-4">

                        @if (!string.IsNullOrEmpty(hotel.Image))
                        {
                            <img src="~/images/@hotel.Image" class="img-fluid rounded-start w-100 h-100" alt="Hotel Image" />
                        }
                    </div>
                    <div class="col-md-8 pe-lg-5">
                        <div class="card-body">
                            <h4 class="card-title text-primary mb-3">
                                <a href="@Url.Action("HotelProfile", "Hotel", new { id = hotel.Id })" class="text-primary">@hotel.Name</a>
                                <span class="text-muted fs-5"> | @hotel.HotelCategory.Name</span>
                            </h4>
                            <p>@hotel.Country | @hotel.City | @hotel.Address</p>
                            <p class="card-text p-0 m-0"></p>
                            <p class="card-text">@(hotel.Description.Length > 140 ? hotel.Description.Substring(0, 140) + "..." : hotel.Description)</p>
                            <ul class="ms-4 my-2 fs-5 text-black-50">
                                @if (hotel.IsAccessible.HasValue && hotel.IsAccessible.Value)
                                {
                                    <li>Wheelchair-accessible and facilities</li>
                                }
                                <li>High quality food</li>
                                <li>
                                    <a asp-action="HotelProfile"
                                       class="text-primary fs-6"
                                       asp-route-id="@hotel.Id"
                                       asp-controller="Hotel">Show more...</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Hotel Section End -->
